<section id="bio">
    <section id="img-wrapper">
        <img src="{{site.data.author.dp}}" alt="" />
    </section>
    <section id="bio-wrapper">
        <div>
            <div>
                <i>Rust Programmer</i>
            </div>
            <div>
                <i class="fa-solid fa-house">Cobham, Uk</i>
            </div>
            {% for i in site.data.author.contact %}
            <div>
                <a href="{{i.url}}" target="_blank">
                    <i class="fa-solid fa-{{ i.title }}">@{{i.title}}</i>
                </a>
            </div>
            {%endfor%}
        </div>
        <div id="text-wrapper">{{site.data.author.description}}</div>
        <div> <i class="fa-solid fa-user"></i>
            <i class="fa-brands fa-github-square"></i>
        </div>
    </section>
</section>
