<section id="bio">
    <section id="img-wrapper">
        <img src="{{site.data.author.dp}}" alt="" />
    </section>
    <section id="bio-wrapper">
        <b style="font-weight: bold;">Rust engineer, nvim user, split keyboard
            fanatic and sports head. </b>
        <div id="text-wrapper">{{site.data.author.description}}</div>
        <div id="social-wrapper" style="margin-right: 2em; margin-top: 1em;">
            {% for i in site.data.author.contact %}
            <a style="text-decoration: none;" href="{{i.url}}" target="_blank">
                <i class="fa-xl {{ i.title }}"></i>
            </a>
            {%endfor%}
        </div>
    </section>
</section>
